/* --------  Layout  ----------- */
html, body {height:100%;}

#content {
    background-color:rgba(49, 49, 49, 0.03);
    min-height:100%;
}

#footer {
    background-color:rgba(49, 49, 49, 0.03);
    border-top: 1px solid #ccc;
    margin-bottom:0px;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}


/* --------  Navbar  -----------  */
.navbar-header {margin-top:5px;}

.navbar-default .navbar-nav > li > a {
    font-size:1.3em;
    color:#939393;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color:#f1f1f1;
    color:#939393;
}

.navbar-default {
    background-color: rgba(255,255,255,0.8);
    border-color: rgba(255,255,255,0.0);
}

#first-name {color:#939393; font-size:2.2em;}

#last-name {color:#7e7e7e; font-size:2.2em;}

#name-link:hover {text-decoration: none;}


/* --------  Home Page  -----------  */
.home-page-link:hover,
.home-page-link:visited,
.home-page-link:active {
    color:#000;
}

.home-page-link {color:#7e7e7e;}

.bump-past-nav {margin-top:40px; padding-top:30px;}

#jumbotron-posts {margin-top:50px; padding:20px;}

#jumbotron-me {margin-top:120px; padding:20px;}

.jumbotron {background: #fff;}

.jumbotron > p {font-size:1em;}

#jumbo-link:hover {color:#717171;}

#mugshot {max-width: 50%; margin-left:25%}


/* --------  Custom styling  -----------  */

.color-grey {color:#777;}

.color-white {background-color:#fff;}

.no-margin {margin:0px;}

.bump-down-20 {padding-top:20px;}

.blog-post {margin-bottom:20px; margin-top:90px}
