{% extends "layout.html" %}
{% block title %}Matt Carter{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 color-white blog-post">
            <h2>Blog Archives</h2>
            {% for post in posts %}
                <h3><a class="home-page-link" href="{{ url_for('getBlogPost', post_path=post.url_path) }}">{{ post.title }}</a></h3>
                <p>{{ post.preview }}<br>{{ post.date }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
