{% extends "layout.html" %}
{% block title %}Matt Carter{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 color-white blog-post">
            <h1>{{ title }}</h1>
            <h5 class="color-grey">{{ date }}</h5>
            {{ content|safe }}
            {% if post_button %}
                <div class="form-group text-center">
                    <a class="btn btn-default" href="{{ url_for('adminPanel') }}">Admin Panel</a>
                    <a class="btn btn-primary" href="{{ url_for('publishPost', post_id=post_id) }}">Publish</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-12">
            <form action="{{ url_for('addComment') }}" method="POST">
                <h4>Leave a comment</h4>
                <div class="form-group">
                    <input class="form-control" name="commenter-name" id="commenter-name" placeholder="Name...">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="comment-content" id="comment-content" placeholder="Comment..."></textarea>
                </div>
                <div class="form-group text-center">
                    <input type="hidden" name="post-id" value="{{ post_id }}">
                    <button type="submit" class="btn btn-sm">Submit</button>
                </div>
            </form>
            <div class="text-right">
                {{ comments|length }} comment{% if comments|length != 1 %}s{% endif %}
            </div>
            <table class="table table-striped">
            {% for comment in comments %}
                <tr>
                    <td>
                        <b>{{ comment.name }}</b> on {{ comment.date }}<br><br>
                        {{ comment.comment }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
