<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Matt Carter's Personal Blog">
        <meta name="keywords" content="Matt Carter, Matthew Carter, Flask, Markdown, blog" />
        <meta name="robots" content="index, follow" />
        <meta name="google-site-verification" content="sDMdRm0i9ZRzMZ27Of-8ijyGSJulASlz_5TJHvyecnI" />
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap-social/bootstrap-social.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/code.css') }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/favicon.ico') }}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="brand" href="{{ url_for('index') }}" id="name-link">
                        <span id="first-name">Matt</span>
                        <span id="last-name">Carter</span>
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="no-margin">
                            <a class="navbar-link no-margin" href="/blog">
                                Blog
                            </a>
                        </li>
                        <li class="no-margin">
                            <a class="navbar-link" target="_blank" href="{{ url_for('index') }}">
                                Resume
                            </a>
                        </li>
                        <li class="no-margin">
                            <a class="navbar-link no-margin" href="#contactModal" data-toggle="modal">
                                Contact
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search" method="POST" action="{{ url_for('index') }}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="search" placeholder="Search...">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
        </div>
    </body>
</html>
